[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    pyxrf/_version.py,
    docs/conf.py
# There are some errors produced by 'black', therefore unavoidable
ignore = E203, W503, E701, E704
max-line-length = 115
