language: python
sudo: false

env:
  global:
    - SUBMIT_CODECOV: false
    - BUILD_DOCS: false
    - GH_REF: github.com/NSLS-II/PyXRF.git
    - secure: "ZYRymELlWT6UQNEU4M57jEWfHGy+e04OBEqbhzLiJMc1LBAOKyBlQrGDloYC0mg6C6TtLhVqqxiiYQFDi4aPRxu9iBRcD4dloIZiEBXXn0DAVWmEj2n7rsORyGxbWbEnhyAkyKSu1pfzVUAPZqpXnfRKTqW2rI/9GG4cG0i7B5zP3uL8kT1dji0L9zWB9MMdZygOyPaqlJlHJ/OicWhKcqZYMuxh1D3o4VzYhjuaEctoEWNm8T+NhQehwL9uEEoUHwjm1pIIEul7O2T9Sn0X6+A5+qpUPPKwFd3M4O1QNkGbdNxZxBy4Kd5WfdsVveOQIM4YIHdQ97xbtigFLNVSjdwaUiI2YCuyGWPNyQGP0ak3qxlVqVC4yM5Wo7NPefPXwGi/dyGyTzKdD+4Z4+9vLMgKVXOIZCiUDHZBbEtHEs5Rf33O8WRKvwz3WxsT6FJz+2YfnTCCBv6NFqvduYyE9T1E3RxZR97EA5Vw+B53VHvvhakjTTlXIwIAES81oV489Wz6nbtER4QRuJK89vs4Gn8l9tQ8K48p3vM3ezbUcaek7/fLF2zca+P7Riys0mHMPie5gmBlsM5t7In9eYhv4sQpKvFRoL/NbP29npdeO0ev4QV0mH1OJTWogcDeTnLiIcHYaCpynT5cC8Qfq73PAy1D/Y6AGMjI2iSkWdm7+qQ="

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.ccache

matrix:
  fast_finish: true
  include:
    - python: 3.7
      env: BUILD_DOCS=true SUBMIT_CODECOV=true NUMPY=1.17
    - os: osx
      language: generic
      env: TRAVIS_PYTHON_VERSION=3.6 NUMPY=1.17
    - os: osx
      language: generic
      env: TRAVIS_PYTHON_VERSION=3.7 NUMPY=1.17

python:
  - 3.6
  - 3.7
  - 3.8

env:
  - NUMPY=1.15
  - NUMPY=1.16
  - NUMPY=1.17

before_install:
  - |
    set -e
    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
        arch="Linux"
    elif [ "$TRAVIS_OS_NAME" == "osx" ]; then
        arch="MacOSX"
    else
        echo "Unknown arch $TRAVIS_OS_NAME"
        exit 1
    fi
    wget https://repo.continuum.io/miniconda/Miniconda3-latest-${arch}-x86_64.sh -O miniconda.sh
    chmod +x miniconda.sh
    ./miniconda.sh -b -p ~/mc
    source ~/mc/etc/profile.d/conda.sh
    conda update conda --yes
    export CONDARC=ci/condarc

install:
  - export GIT_FULL_HASH=`git rev-parse HEAD`
  - conda create -y -n testenv python=$TRAVIS_PYTHON_VERSION numpy=$NUMPY
  - conda activate testenv
  - conda install -y scikit-beam -c nsls2forge
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - pip install codecov
  - pip install .
  - conda list
  - pip list

script:
- python -c "import platform; import os; ver_installed = platform.python_version();
  ver_requested = os.environ['TRAVIS_PYTHON_VERSION'];
  assert ver_installed.startswith(f'{ver_requested}.');"
#- python -c "import platform; import os; ver_installed = platform.python_version();
#  ver_requested = os.environ['TRAVIS_PYTHON_VERSION'];
#  print(f'\nPython: requested version {ver_requensted}, installed version {ver_installed}');
#  assert ver_installed.startswith(f'{ver_requested}.');"
#- python -c "import numpy; import os; ver_installed = numpy.__version__;
#  ver_requested = os.environ['NUMPY'];
#  print(f'\nNumpy: requested version {ver_requensted}, installed version {ver_installed}');
#  assert ver_installed.startswith(f'{ver_requested}.')"
- flake8
- coverage run run_tests.py
- coverage report -m
- |
  set -e  # If any of the following steps fail, just stop at that point.
  if [ $BUILD_DOCS == 'true' ]; then
    pip install -r requirements-docs.txt
    make -C docs html  # Build the documentation.
    doctr deploy --built-docs docs/_build/html .  # Publish the documentation.
  fi

after_success:
  - if [ $SUBMIT_CODECOV == 'true' ]; then codecov; fi;
